@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/firasans/v17/va9E4kDNxMZdWfMOD5Vvl4jO.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sarabun/v13/DtVjJx26TKEr37c9aBVJmg.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Sarabun', sans-serif;
  text-decoration: none;
  color: #fff;
  outline: none;
  list-style-type: none;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
}
.link {
  text-decoration: underline;
  color: #F4F4F4;
}
h1 {
  text-align: center;
  font-size: 48px;
}
h2 {
  text-align: center;
  font-size: 36px;
}
.z-index {
  position: relative;
  z-index: 1;
}
button:hover {
  cursor: pointer;
}
.round {
  background-attachment: fixed;
  background-size: cover;
  margin: 12px;
  float: left;
  border-radius: 100px;
  overflow: hidden;
  transition: 0.1s;
}
.round__0 {
  width: 50px;
  height: 50px;
}
.round__1 {
  width: 70px;
  height: 70px;
}
.round__2 {
  width: 100px;
  height: 100px;
}
.round__false {
  display: none;
}
.button {
  border-radius: 5px;
  width: 300px;
  height: 100px;
  color: #444;
  font-size: 18px;
  box-shadow: inset #ffffffaa 2px 3px 14px 2px, inset #00000022 1px -2px 15px 1px;
}
.black-message {
  color: #222;
}
.input {
  border-radius: 3px;
  opacity: 0.8;
  background-color: FFFFFFAA;
  color: #444;
  font-size: 22px;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: inset #00000022 1px -1px 15px 1px, inset #ffffffaa -1px 0px 4px 11px;
}
.input-smal {
  border-radius: 3px;
  opacity: 0.8;
  background-color: FFFFFFAA;
  color: #444;
  font-size: 22px;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: inset #00000022 1px -1px 15px 1px, inset #ffffffaa -1px 0px 4px 11px;
  width: 120px;
  height: 40px;
  font-size: 18px;
}
.fill {
  background-color: pink;
  color: pink;
}
.shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000088;
  left: 0;
  top: 0;
  z-index: 100;
}
.money-ico {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  background-image: url('./currency.svg');
  background-size: cover;
  margin-left: 6px;
  opacity: 0.7;
}
.money {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  background-image: url('./currency.svg');
  background-size: cover;
  margin-left: 6px;
  opacity: 0.7;
}
.login-window {
  position: relative;
  margin-top: 150px;
  background-color: #FFFFFF88;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  height: 400px;
  left: calc(50% - 900px/2);
  top: calc(50% - 400px/2);
}
.login-window .options {
  width: 80%;
  height: 70px;
}
.login-window__input {
  color: black;
  width: 80%;
  height: 70px;
  border-radius: 3px;
  opacity: 0.8;
  background-color: FFFFFFAA;
  color: #444;
  font-size: 22px;
  box-sizing: border-box;
  box-shadow: inset #00000022 1px -1px 15px 1px, inset #ffffffaa -1px 0px 4px 11px;
  padding: 12px;
}
.login-window__input::placeholder {
  color: #AAA;
  font-size: 18px;
}
.login-window__button {
  color: black;
  width: 80%;
  height: 70px;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  color: #444;
  font-size: 18px;
  box-shadow: inset #ffffffaa 2px 3px 14px 2px, inset #00000022 1px -2px 15px 1px;
}
.login-window__error-message {
  color: #ef4014;
}
.small-windiow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 150px;
  background-color: #DDD;
  width: 460px;
  height: 540px;
}
.small-windiow__button {
  border-radius: 5px;
  width: 300px;
  height: 100px;
  color: #444;
  font-size: 18px;
  box-shadow: inset #ffffffaa 2px 3px 14px 2px, inset #00000022 1px -2px 15px 1px;
  width: 90%;
  height: 50px;
}
.small-windiow__header {
  color: #00000088;
  font-size: 48px;
}
.small-windiow__input {
  width: 90%;
  height: 60px;
  padding: 6px;
  color: black;
}
.small-windiow__input::placeholder {
  color: #00000088;
}
.small-windiow__avatars {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #FFFFFF88;
}
.small-windiow__err-message {
  color: #00000088;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: black;
  border-bottom: solid 1px #fff;
  z-index: 0;
}
#header__logo {
  font-weight: bold;
  font-size: 48px;
  margin-left: 12px;
}
#content {
  min-height: calc(100vh - 160px - 1px * 2);
}
#footer {
  display: flex;
  padding: 12px;
  width: calc(100% - 24px);
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 46px;
  border-top: solid 1px #fff;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  font-size: 28px;
}
.menu__li {
  color: #FFFFFF99;
}
.menu__li:hover {
  color: #FFFFFFCC;
}
.menu__li_active {
  color: #FFFFFFEE;
}
#profile {
  display: flex;
  margin-right: 12px;
  padding-top: 12px;
  height: 78px;
}
#profile__avatar {
  width: 62px;
  height: 62px;
  background-color: #cacaca;
  border-radius: 50px;
  margin-left: 12px;
}
#profile__username {
  font-size: 28px;
  font-weight: bold;
}
#profile__cash {
  color: #FFFFFF99;
  font-size: 18pt;
}
#profile:hover + .dropdown {
  height: 100px;
}
.dropdown {
  height: 0px;
  transition: 0.1s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF88;
  overflow: hidden;
  right: 0px;
  top: 90px;
  width: 200px;
}
.dropdown__a {
  color: #222;
  font-size: bold;
  font-size: 16px;
}
.dropdown__a:hover {
  color: #DDD;
}
.dropdown:hover {
  height: 100px;
}
.filter {
  display: flex;
  width: 900px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #FFF;
  z-index: 1;
}
.filter span {
  margin-right: 12px;
  margin-left: 24px;
}
.filter__input {
  border-radius: 3px;
  opacity: 0.8;
  background-color: FFFFFFAA;
  color: #444;
  font-size: 22px;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: inset #00000022 1px -1px 15px 1px, inset #ffffffaa -1px 0px 4px 11px;
  width: 120px;
  height: 40px;
  font-size: 18px;
}
.filter__input_full {
  width: 200px;
}
.filter__button {
  background-color: #FFFFFF88;
  height: 20px;
  padding: 12px;
  margin-right: 12px;
}
.filter__button:hover {
  cursor: pointer;
}
.filter__radio {
  display: none;
}
.filter__radio:checked + .filter__button {
  background-color: #FFFFFFDD;
  color: #AAA;
}
#pagination-wrapper {
  margin: auto;
  width: 900px;
}
.user-block {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  width: 250px;
  height: 260px;
  margin-top: 24px;
  background-color: #FFFFFF55;
}
.user-block .info-sigment {
  height: 260px / 6;
  border-bottom: 1px solid #EEE;
  text-align: center;
  font-size: 14pt;
  padding: 3px;
  line-height: 2em;
}
.user-block:nth-child(3n+2) {
  margin-left: 150px / 2;
  margin-right: 150px / 2;
}
.user-block__avatar {
  width: 62px;
  height: 62px;
  background-color: #cacaca;
  border-radius: 50px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 39px;
}
.user-block__name {
  height: 260px / 6;
  border-bottom: 1px solid #EEE;
  text-align: center;
  font-size: 14pt;
  padding: 3px;
  line-height: 2em;
}
.user-block__cash {
  height: 260px / 6;
  border-bottom: 1px solid #EEE;
  text-align: center;
  font-size: 14pt;
  padding: 3px;
  line-height: 2em;
  border-bottom: none;
}
.user-block__cash span {
  top: -6px;
}
.pages {
  margin-top: 12px;
  margin-bottom: 12px;
}
.pages__link {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  background-color: #FFFFFF88;
  text-align: center;
  line-height: 38px;
}
.pages__link_active {
  background-color: #FFFFFFDD;
  color: #AAA;
}
.item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  height: 250px;
  margin-top: 38px;
  background-color: #00000088;
  border: 1px solid #FFFFFF88;
}
.item__img {
  height: 60%;
  border-bottom: 1px solid #FFFFFF88;
}
.item__img img {
  height: 100%;
  display: block;
  margin: auto;
}
.item__name {
  text-align: center;
  border-bottom: 1px solid #FFFFFF88;
  height: calc(18% - 1px);
  font-size: 24px;
}
.item__sell {
  background-color: #00000000;
  height: calc(22% - 1px);
  font-size: 24px;
}
.item__sell:hover {
  background-color: #FFFFFF88;
  cursor: pointer;
}
.item__sell_active {
  font-size: 14pt;
}
.item__sell_active span,
.item__sell_active p,
.item__sell_active div {
  color: #ff8800;
}
.item__price {
  display: block;
  float: left;
  font-size: 24pt;
  width: calc(60% - 12px);
  height: 65px;
  margin-left: 12px;
  line-height: 2em;
}
.item__price span {
  top: -12px;
}
.item__button {
  display: block;
  float: right;
  font-size: 18px;
  width: 40%;
  height: 100%;
  background-color: #00000000;
  text-align: end;
  height: 65px;
  padding-right: 12px;
}
.item__button:hover {
  background-color: #FFFFFF88;
  cursor: pointer;
}
.item:nth-child(3n+2) {
  margin-left: 90px / 2 - 3px;
  margin-right: 90px / 2 - 3px;
}
.modal-inventory {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 500px;
  border: solid 1px #FFFFFF88;
  background-color: #000;
  z-index: 100;
}
.modal-inventory__img {
  height: 200px;
  margin: auto;
  margin-top: 24px;
}
.modal-inventory__img img {
  display: block;
  height: 100%;
  margin: auto;
}
.modal-inventory__input {
  display: block;
  width: 88px;
  height: 28px;
  margin: auto;
  margin-top: 24px;
  color: #222;
  font-size: 18px;
  padding: 12px;
}
.modal-inventory__input::after {
  content: '$';
  color: #FFF;
  margin: 1pt;
}
.modal-inventory__button {
  border-radius: 5px;
  width: 300px;
  height: 100px;
  color: #444;
  font-size: 18px;
  box-shadow: inset #ffffffaa 2px 3px 14px 2px, inset #00000022 1px -2px 15px 1px;
  display: block;
  width: 250px;
  height: 60px;
  margin: auto;
  margin-top: 24px;
}
.modal-inventory__button div {
  color: #333;
}
.modal-inventory__name {
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}
.modal-inventory__err {
  margin: auto;
  margin-top: 8%;
  font-size: 24px;
  height: 60%;
  width: 70%;
  z-index: 100;
}
.modal-inventory__err div {
  flex-direction: column;
  align-items: center;
  background-clip: content-box;
}
.modal-inventory__info {
  margin-top: 36px;
  margin-bottom: 24px;
}
.balance-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60vmin;
  height: 60vmin;
  border-radius: 1000px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFFFFF88;
}
.balance-window div {
  font-size: 36pt;
}
.balance-window__input {
  border-radius: 3px;
  opacity: 0.8;
  background-color: FFFFFFAA;
  color: #444;
  font-size: 22px;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: inset #00000022 1px -1px 15px 1px, inset #ffffffaa -1px 0px 4px 11px;
  width: 240px;
  height: 80px;
}
.balance-window__button {
  border-radius: 5px;
  width: 300px;
  height: 100px;
  color: #444;
  font-size: 18px;
  box-shadow: inset #ffffffaa 2px 3px 14px 2px, inset #00000022 1px -2px 15px 1px;
  width: 240px;
  height: 80px;
}
.message-window {
  position: relative;
  margin-top: 150px;
  background-color: #FFFFFF88;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  height: 400px;
  left: calc(50% - 900px/2);
  top: calc(50% - 400px/2);
}
.message-window .options {
  width: 80%;
  height: 70px;
}
.message-window__input {
  color: black;
  width: 80%;
  height: 70px;
  border-radius: 3px;
  opacity: 0.8;
  background-color: FFFFFFAA;
  color: #444;
  font-size: 22px;
  box-sizing: border-box;
  box-shadow: inset #00000022 1px -1px 15px 1px, inset #ffffffaa -1px 0px 4px 11px;
  padding: 12px;
}
.message-window__input::placeholder {
  color: #AAA;
  font-size: 18px;
}
.message-window__button {
  color: black;
  width: 80%;
  height: 70px;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  color: #444;
  font-size: 18px;
  box-shadow: inset #ffffffaa 2px 3px 14px 2px, inset #00000022 1px -2px 15px 1px;
}
.message-window__error-message {
  color: #ef4014;
}
@media (max-width: 900px) {
  h1 {
    text-align: center;
    font-size: 36px;
  }
  h2 {
    text-align: center;
    font-size: 24px;
  }
  .shadow {
    background-color: #00000088;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .login-window {
    background-color: #00000000;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0px;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
  }
  #footer {
    flex-direction: column;
    height: 90px;
  }
  #header {
    position: relative;
    border: none;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
  }
  #header__logo {
    position: absolute;
    margin: 12px;
    top: 0;
  }
  .pages {
    margin-bottom: 24px;
  }
  #content {
    min-height: calc(100vh - 290px - 1px * 2);
  }
  .menu {
    font-size: 14px;
    width: calc(100% - 12px);
    position: absolute;
    bottom: 0;
    margin: 12px;
    margin-right: 0px;
  }
  #profile {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px;
  }
  .dropdown {
    height: 60px;
    max-height: 60px;
    position: absolute;
    left: 0;
    background-color: #00000000;
    flex-direction: column;
    align-items: stretch;
    margin-left: 12px;
  }
  .dropdown__a {
    font-size: 12px;
    color: #AAA;
  }
  .filter {
    width: calc(100% - 12px);
    flex-direction: column;
    border: none;
    padding-left: 12px;
  }
  .filter__input {
    margin: 0;
    margin-bottom: 12px;
    width: 50%;
    opacity: 1;
  }
  .filter span {
    display: block;
    margin: 0;
  }
  .filter__button {
    margin: 0;
    margin-bottom: 12px;
    width: 50%;
  }
  #pagination-wrapper {
    width: 100%;
  }
  .user-block {
    margin: 0px;
    margin-top: 24px;
    width: 100%;
  }
  .user-block:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 0px;
  }
  .item {
    width: 100%;
  }
  .item:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 0px;
  }
  .modal-inventory {
    border: 0;
    width: 100vw;
    height: 70vh;
  }
  .modal-inventory__img {
    height: 100px;
  }
  .modal-inventory__name {
    margin: 0px;
  }
  .modal-inventory__input {
    margin-top: 6px;
  }
  .modal-inventory__button {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .balance-window {
    position: static;
    border-radius: 0px;
    width: 100vw;
    height: calc(100vh - 290px);
  }
  .balance-window div {
    font-size: 36px;
  }
  .message-window {
    background-color: #00000000;
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    height: calc(100vh - 290px);
    position: static;
    background-color: #FFFFFF88;
  }
  .small-windiow {
    position: absolute;
    width: 100vw;
    height: 70vh;
    z-index: 110;
  }
  .round__0 {
    width: 30px;
    height: 30px;
  }
  .round__1 {
    width: 50px;
    height: 50px;
  }
  .round__2 {
    width: 80px;
    height: 80px;
  }
  .round__false {
    display: none;
  }
}
