@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

* {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
  text-decoration: none;
  color: #fff
}

html, body, #root, #root > div {
  height: 100%;
}

ul {
  list-style-type: none;
}

body {
  background-image: url(./img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
}

.black {
  color: #101010
}

.center {
  margin: auto
}

.black-message {
  display: inline-block;
  color: #101010;
  width: 100%;
  margin-bottom: 28px;
  font-size: 28px;
  text-align: center;
}

.shadow {
  background: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.visible {
  display: none;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 68px;
  color: #fff;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}

/*shop*/
#wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
}

#logo {
  font-weight: bold;
  font-size: 48px;
}

#header{
  width: 100%;
  height: 100px;
  background: black;
  border-bottom: solid 1px #ffffff99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header * {
  margin: 20px;
}

#footer {
  width: 100%;
  height: 70px;
  background: black;
  border-top: solid 1px #ffffff66;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer div {
  margin: 20px;
}

#content {
  height: auto;
  padding-bottom: 70px;
}

#menu {
  display: flex;
  list-style-type: none;
  font-size: 28px;
}

.menu-li{
  color: #aaa;
}

#menu li a:hover {
  color: #eee;
}

#profile {
  position: relative;
}

#profile * {
  margin: 0;
}

#profile > div {
  float: left;
}

#top-username {
  font-weight: bold;
  font-size: 28px;
}

#top-cash {
  font-size: 18px;
  opacity: 0.7;
}

#top-avatar {
  background: #eee;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  float: left;
  margin-left: 18px;
  margin-bottom: 20px;
}

/*login*/
#hello-message {
  width: 700px;
  margin: auto;
  margin-top: 48px;
}

#login-window {
  padding: 0;
  width: 760px;
  height: 460px;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  background: #ffffff77;
  border-radius: 10px;
  transition: .3s;
}

#login-window-close{
  width: 760px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  background: #ffffff77;
  transition: .3s;
}

#login-window-close *{
  opacity: 0;
  transition: .3s;
}

/*#login-window form {
  width: 80%;
  height: 500px;
  margin: auto;
  background: red;
}*/

#balance-window {
  width: 560px;
  height: 560px;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  background: #ffffff77;
  transition: .3s;
  border-radius: 10000px;
}

#balance-window form {
  margin: auto;
  width:300px;
  height: 300px;
}

#balance-window form * {
  float: left;
  width: 300px;
  padding: 0;
  border: 0;
}

#balance-window div {
  margin-top: 100px;
  font-size: 50px;
}

.input-form {
  box-shadow: 0px 0px 10px 0px #00000022;
  border-radius: 2px;
}

.button {
  box-shadow: inset 0px -50px 50px -17px #00000022;
  border: 0;
}

#balance-window input, #balance-window button {
  height: 68px;
  margin-top: 48px;
  color: black;
}

#headline-login {
  display: inline-block;
  text-align: center;
  width: auto;
  display: block;
  margin: auto;
  padding: 0px;
  margin-bottom: 18px;
  padding: 48px;
}

#authorization-form {
  width: 90%;
  margin: auto;
}

#input-login {
  width: 98%;
  height: 78px;
  background: #ffffff77;
  color: black;
  border: 0;
  border-radius: 6px;
  margin-bottom: 28px;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  padding-left: 2%
}

#input-login::placeholder {
  color: #505050;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#button-login {
  background: #dadada;
  width: 100%;
  height: 78px;
  border: outset 1px;
  border-radius: 6px;  
  padding: 0;
  font-size: 20px;
  color: #606060;
}

#items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: safe;
  width: 900px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.item {
  width: 278px;
  height: 248px;
  background-color: #00000066;
  border: 1px solid #ffffff66;
  float: left;
  margin-bottom: 30px;
  margin-left:  10px;
  margin-right: 10px;
  margin-top: 0px;

}

.item * {
  text-align: center;
}

.item-name {
  height: 20%;
  font-size: 28px;
  border-bottom: 2px solid #ffffff88;
}

.item-img {
  height: 55%;
}

.item-img * {
  height: 100%;
}

.item-sell {
  height: 25%;
  font-size: 28px;
  width: 100%;
  border: none;
  border-top: 2px solid #ffffff88;
  background-color: #00000000;
}

.item-buy {
  display: flex;
  justify-content: space-between;
  height: 58px;
  font-size: 28px;
  width: 100%;
  border: none;
  border-top: 2px solid #ffffff88;
  background-color: #00000000;
}

.item-buy * {
  padding: 0px 12px 0px 12px
}

.item-buy-button {
  background-color: #00000000;
  border: none;
}

.item-buy-button:hover {
  background-color: #ffffff33;
}


.item-sell * {
  font-size: 18px;
  color: #ff9922;
  line-height: 20px;
}

.item-sell:hover {
  background-color: #ffffff10;
}

#contents {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 900px;
  margin: auto;
}

#search {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #ffffff55;
  padding-top: 14px;
  padding-bottom: 10px;
}

#search div * {
  margin-right: 16px; 
}

.input-form-search {
  width: 100px;
  height: 28px;
  box-shadow: 0px 0px 10px 0px #00000022;
  border-radius: 2px;
  border: 1px solid #cacaca88;
  background-color: #ffffffcc;
}

.input-form-search:first-child {
  width: 200px;
}

#filter {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #ffffff55;
  padding-top: 28px;
  padding-bottom: 10px;
}

#filter input {
  display: none;
}

.filter-button {
  height: 30px;
  width: inherit;
  background-color: #ffffff55;
  margin-right: 12px;
  padding: 4px;
}

.filter-button:hover {
  background-color: #ffffff77;
}

.filter-radio:checked + .filter-button {
  background-color: #ffffffaa;
}

#users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: safe;
  border-bottom: 2px solid #ffffff33;
  padding-top: 28px;
  padding-bottom: 10px;
}

.user-block {
  display: flex;
  background-color: #ffffff33;
  flex-direction: column;
  width: 260px;
  height: inherit;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 30px;
}

.user-block:hover {
  background-color: #ffffff55;
}

.userImg-block {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.userImg-block img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #cacaca;
  margin: auto;
}

.userImg-block img:before {  
  content: none;
}

.userName-block{
  width: 100%;
  height: 30px;
  font-size: 22px;
  border-bottom: 1px solid #ffffff55;
  text-align: center;
}

.cash-block{
  width: 100%;
  font-size: 22px;
  border-bottom: 1px solid #ffffff55;
  padding: .5em 0;
  text-align: center;
}

.inventory-button-block{
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: center;
  border: none;
  background-color: #00000000;
}

#pages {
  padding-top: 18px;
}

#pages * {
  display: inline-flex;
  flex-direction: row;
  width: 38px;
  height: 38px;
  background-color: #ffffff55;
  text-align: center;
  margin-right: 10px;
  align-items: center;
  justify-content: center;

}

#pages *:hover {
  background-color: #ffffff77;
}

#activePage {
  background-color: #ffffff88;
}

.foreground {
  z-index: 1;
}

.modal-inventory {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; bottom: 220px; right: 0;
  margin: auto;
  background-color: black;
  border: solid 2px #888
}

.modal-inventory * {
  margin: auto;
}

.modal-inventory-name {
  height: 50px;
  font-size: 32px;
}

.modal-inventory-img, .modal-inventory-img img {
  height: 200px;
}

.modal-inventory-form input {
  height: 40px;
  width: 100px;
  margin-right: 8px;
  border-radius: 5px;
  border: none;
  color: #555555;
  font-size: 12px;
}

.modal-inventory-form span {
  font-size: 22px;
}

.modal-inventory-err *{
  color: #cacaca;
  font-size: 28px;
  }

.modal-inventory-button {
  height: 50px;
  width: 200px;
  margin-bottom: 10px; 
  margin-top: 35px;
  border-radius: 6px;
  border: none;
  box-shadow: inset -2px -20px 18px 0px #afafaf69;
  font-size: 18px;
  color: #333;
}

.modal-inventory-err {
  font-size: 28px;
  text-align: center;
  
}

.modal-inventory-err div {
  margin: 48px 0px 48px 0px;
}

#touchBar {
  position: absolute;
  display: none;
  width: 200px;
  height: 180px;
  background-color: #eee;
  clear: left;
  top: 80px;
  right: 10px;
  padding: 0px;
  border-radius: 3px;
}

#touchBar li {
  width: 100%;
  padding: 0px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

#touchBar a {
  text-align: center;
  font-size: 20px;
  color: #222;
  margin: 0px;
}

#touchBar::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 165px;
  border-bottom: 15px solid #eee;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;  
}

#touchBar li {
  color: #222;

}

#touchBar *:hover {
  color: #fff;
}

#profile-menu {
  margin: 0;
}

#profile-menu:hover > #touchBar {
  display: block;
  
}

.is-active {
  color: #eee;
}